main {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 150px 150px;
    font-size: 5rem;
}

div {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
}