.basic {
    display: grid;
    grid-template-rows: 4rem minmax(calc(100vh - 4rem - 200px), max-content) 200px;
    grid-template-columns: minmax(10%, 1fr) 1fr 3fr minmax(10%, 1fr);
    grid-template-areas:
        "header header header header"
        ".      nav    main   .     "
        "footer footer footer footer";
}

.basic header {
    grid-area: header;
}

header {
    background-color: aqua;
    font-size: 300px;
    font-style: oblique;
    text-align: center;
}

.basic nav {
    grid-area: nav;
}

nav {
    background-color: dodgerblue;
}

.basic .main {
    grid-area: main;
}

.basic footer {
    grid-area: footer;
}

footer {
    background-color: cyan;
}