* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #444444;
    color:#fff;
}
#contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
header {
    height: 150px;
    background: #000000;
}
header h1 {
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}
nav {
    background: chocolate;
    height: 60px;
}

nav h2 {
    font-size:  40px;
    text-align: center;
    line-height: 60px;
}
#contenido {
    width: 700px;
    height: 500px;
    float: left;
    background: blue;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#contenido h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}
aside {
    width: 250px;
    height: 500px;
    background: green;
    margin-top: 10px;
    float: right;
}
aside h2 {
    font-size: 30px;
    text-align: center;
    line-height: 500px;
}
footer {
    background: black;
    clear: both;
}
footer h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}